/* #region Before Chat */
#chat-container {
    font-family: Arial, Helvetica, sans-serif;
    height: 540px;
    width: 338px;
    border-radius: 10px;
    right: 50px;
    bottom: 10px;
}

#chat-container > .chat-overlay {
    height: 540px;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
    position: absolute;
    background-blend-mode: overlay;
    border-radius: 10px 10px 0px 0px;
}

#chat-container > #chat-ended-overlay #chat-ended-button {
    background-color: white;
    height: 100px;
    width: 200px;
    font-size: 14px;
    color: #6C6D6F;
    text-align: center;
    direction: rtl;
    margin: 42% auto 0px auto;
    border-radius: 10px;
    cursor: pointer;
}

#chat-container > #chat-ended-overlay #chat-ended-button p {
    padding-top: 30px;
}

#open-chat-button.kolmila  {
    background-image: url("../images/chat-enter.png");
    background-repeat: no-repeat; 
    background-size: contain;
    width: 197px;
    height: 171px;
}
#open-chat-button.all {
    font-weight: 500;
    background-color: #61ce70;
    border-radius: 3px;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 4.5%;
    font-size: 18px;
}

#permission {
    display: none;
    position: absolute;
    top: 50%;
    left: 35%;
    text-align: center;
    font-size: 24px;
    color: #940000;
    font-weight: bold;
}
/* #endregion Before Chat */

/* #region Chat Header */
#chat-container > #chat-header {
    height: 40px;
    background-color: #642698;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: space-between;
}

#chat-container > #chat-header > div {
    margin: 10px 13px 0px 13px;
}

#chat-container > #chat-header i.fa-chevron-down,
#chat-container > #chat-header i.fa-chevron-up {
    margin-right: 10px;
}

#chat-container > #chat-header i.fa-chevron-up {
    display: none;
}

#header-text {
    margin-top: 0px;
    margin-left: 13px;
    font-size: 14px;
    line-height: 22px;
    color: white;
}
/* #endregion Chat Header */

/* #region Chat Body */
#chat-container > #chat-body {
    height: 500px;
    background-color: white;
    border: 1px #C5C5C5 solid;
    border-top: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#chat-container > #chat-body > #chat-content {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 40px);
}

#chat-content::-webkit-scrollbar {
    width: 10px;
}
 
#chat-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px transparent; 
    box-shadow: inset 0 0 6px transparent; 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
#chat-content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #CCCACD; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

#chat-container > #chat-body #chat-cover-container {
    background-color: #EEEEEE;
    height: 140px;
    padding-top: 1px;
}

#chat-container > #chat-body #chat-cover-img.kolmila {
    background-image: url("../images/headerlogo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 95px;
    margin-left: 16px;
    margin-top: 22px;
}

#chat-container > #chat-body #chat-main > p {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #6C6D6F;
    font-size: 12px;
    line-height: 14px;
    padding: 0px 20px;
    text-align: center;
}

#chat-container > #chat-body #chat-main .time-general {
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: 10px;
    color: #6C6D6F;
}

#chat-container > #chat-body #chat-main .chat-started-text {
    display: none;
}

#chat-container > #chat-body ul#chat-history {
    padding: 0px 10px;
    margin-top: 8px;
    list-style-type: none;
    list-style: none;
}

ul#chat-history li.in,
ul#chat-history li.out {
    margin-bottom: 8px;
    padding: 6px;
    font-size: 14px;
    clear: both;
    color: #6C6D6F;
}

ul#chat-history li.time-in,
ul#chat-history li.time-out {
    font-size: 10px;
    clear: both;
    color: #6C6D6F;
}

ul#chat-history li.time-in {
    float: left;
}

ul#chat-history li.time-out {
    float: right;
}

ul#chat-history li:last-child {
    margin-bottom: 24px;
}

ul#chat-history li.out {
    border-radius: 31px 32px 0px 35px;
    border: 1px solid black;
    float: right;
}

ul#chat-history li.in {
    background-color: #642698;
    color: white;
    border-radius: 32px 31px 35px 0px;
    border: 1px solid black;
    float: left;
}

#waiting-msg {
    visibility: hidden;
    position: absolute;
    bottom: 45px;
    left: 10px;
}

#waiting-msg p {
    font-size: 12px;
    color: #6C6D6F;
}

/*#endregion Chat Body*/

/* #region Chat Message */
#chat-container > #chat-body > #chat-message-container {
    height: 40px;
    border-top: 1px solid #C5C5C5;
}

#chat-message-container input#chat-message {
    height: 30px;
    width: 241px; 
    margin: 5px 10px;
    outline: none;
    border: none;
    color: #6C6D6FCC;
}

#chat-message-container input#chat-message::placeholder,
#chat-message-container input#chat-message::-webkit-input-placeholder {
    font-style: italic;
}

#chat-message-container i {
    padding: 13px 10px 0px 10px;
}

/* #endregion Chat Message */

/* #region Tooltipster */
.tooltipster-box {
    width: 175px;
    border: 2px solid #6426987a !important;
    background: #EEEEEE !important;
}

.tooltipster-box .tooltipster-content {
    text-align: center;
    font-size: 12px;
    color: #6C6D6F;
    line-height: initial;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
    border-top-color: #6426987a !important;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #EEEEEE !important;
}
/* #endregion Tooltipster */

/* #region Chat Menu */
#menu-container #menu-content {
    height: 80px;
    border-top: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#menu-container #menu-content article {
    width: 25%;
    cursor: pointer;
}

#menu-container #menu-content article:not(:last-child) {
    border-right: 1px solid #C5C5C5;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#menu-container #menu-content article div {
    margin: 12px auto 0px auto;
    height: 30px;
    width: 30px;
}

#menu-container #menu-content article div i {
    color: #6C6D6F;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

#menu-container #menu-content article p {
    direction: rtl;
    text-align: center;
    font-size: 11px;
}

#menu-container #menu-footer {
    height: 40px;
}

#menu-container #menu-footer article {
    background-image: url('../images/powered-by.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 36px;
    width: 145px;
    margin: -2px auto 0 auto;
}
/* #endregion Chat Menu */

/* #region Landing Page */
#wrapper-land {
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
}

#left-side {
    width: 60%;
}

#right-side {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    padding-top: 20px;
}

#wrapper-land #logo {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 212px;
    width: 265px;
    position: absolute;
    margin-left: 38px;
}

#wrapper-land ul {
    margin-top: 220px;
    list-style-type: none;
    list-style: none;
    position: relative;
    margin-left: 38px;
    display: inline-block;
    width: 60%;
}

#wrapper-land ul li {
    background-image: url('../images/bullet.png');
    background-repeat: no-repeat;  
    margin-top: 40px;
    white-space: nowrap;
}

#wrapper-land ul li span {
    color: #434343;
    font-size: 40px;
    margin-left: 50px;
    font-family: Enfatica;
    line-height: 28px;
}

#wrapper-land #mobile-chat {
    height: 360px;
    margin: 0 auto;
    margin-top: 20px;
}

#wrapper-land #mobile-chat img {
    height: 360px;
}

#wrapper-land li a {
    color: #434343;
}
/* #endregion Landing Page */

/* #region Shared */
.flex {
    display: flex;
}

.fixed {
    position: fixed;
}

.none {
    display: none;
}

.pointer {
    cursor: pointer;
}

.white {
    color: white;
}

.rtl {
    direction: rtl;
}

.full-width {
    width: 100%;
}

.button-color-disabled {
    color: #d4d4d4;
}

.button-color-enabled {
    color: #6C6D6F;
}
/* #endregion Shared */
